@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1c1c1c;
  color: #ffffff;
}

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  scroll-behavior: smooth;
}

@layer utilities {
  .theme-transition {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }
}
